# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
*.pdb
*.exe
*.dll
*.exe.config
*.manifest
*.intellisense.xml
*.json.log
*.log
*.bak
*.obj
*.bin
[Oo]bj/
[Bb]in/
*.zip

# Entity Framework Core migrations folder content (except .cs files)
**/Migrations/*.Designer.cs
**/Migrations/*.resx